body {
    background-color: #191616;
    color: #AA9A8E;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 300;
    size: 1rem;
    line-height: 1.6;
    height: 100dvh;
}

h1{
font-family: mixta-didone, serif;
font-size: 3rem;
font-weight: 600;
font-style: normal;
color: #C4B6AD;
margin-top: 3rem;
margin-bottom: 1rem;
}

a{
    color: #88AB7D;
    transition: color 200ms ease-out;
}

a:hover {
    color: #3E5637;
    transition: ease-out 100ms;
}


/* classes */
.cs-lander{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cs-text{
    text-align: center;
}

.logo-wrap{
    padding: 0 3rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-xl{
    margin: 0 auto 0 auto;
    width: 100%;
}

.meta{
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    color: #645C5D;
}